name: Build

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    uses: wetransform/gha-workflows/.github/workflows/dockerfile-build.yml@b8c149abb6fed430a99dbd7ca25a093ffe875ab1 # v4.0.0
    with:
      image: wetransform/postfix
      tag: pr
