name: Publish

on:
  push:
    branches:
      - master
  workflow_dispatch: {}

jobs:
  publish:
    uses: wetransform/gha-workflows/.github/workflows/dockerfile-publish.yml@14995ce361a7c42fb9665895fd44c9483e02351d # v3.8.3
    with:
      image: wetransform/postfix
      tag: latest
    secrets:
      # need to pass secrets explicitly because shared workflow comes from different org
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
      DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
      SLACK_NOTIFICATIONS_BOT_TOKEN: ${{ secrets.SLACK_NOTIFICATIONS_BOT_TOKEN }}
